@use 'reset'
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap')

$font-stack: 'Inconsolata', monospace
    
//Base color palette
$background: #ffffff
$border: #424242
$text-color: #000000
$button: #7c7c7c


*
    margin: 0
    box-sizing: border-box

html
    position: relative
    height: 100%

body
    font-family: $font-stack
    min-height: 100vh
    margin: 0
    display: grid
    justify-content: center
    align-content: center
    grid-template-rows: 10% 20% 50%
    .title
        font-size: 3em
        font-weight: bold
        display: flex
        justify-content: center
        align-items: center
    .winner
        text-align: center
        display: none
        font-size: 1.5em
        letter-spacing: 4px
        font-weight: bolder
    .menu
        width: 100%
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        gap: 1em
        .side, img
            gap: 10px
            font-size: 1em
            letter-spacing: 4px
            font-weight: bolder
            display: flex
            align-items: center

            justify-content: center
            height: 40px
        input
            text-align: center
            font-size: 1em
            letter-spacing: 4px
            border-top: none
            border-left: none
            border-right: none
            outline: none
        button
            background-color: white
            border: solid 2px $border
            padding: 10px
            font-size: 1.5em
            transition-duration: .1s
            &:hover
                border-radius: 6px
            &:active
                background-color: $button
                color: $background
        .player-name
            display: none
    .game-board
        display: grid
        grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr
        gap: 10px
        aspect-ratio: 1
        .cell
            font-weight: bolder
            font-size: 6em
            border: solid 2px $border
            min-width: 150px
            min-height: 150px
            user-select: none
            display: flex
            align-items: center
            justify-content: center